[Desktop Entry]
Name=Wiremix
GenericName=PipeWire-Mixer (TUI)
Comment=PipeWire-Audioverwaltung als TUI
Exec=foot -a tui-wiremix -T Wiremix /etc/profiles/per-user/xealom/bin/wiremix
Icon=/home/xealom/.local/share/icons/tui-apps/wiremix.svg
Type=Application
Categories=Audio;Mixer;ConsoleOnly;
Keywords=pipewire;audio;mixer;sound;wiremix;
StartupWMClass=tui-wiremix
Terminal=false
