[Desktop Entry]
Type=Application
Name=Filius
Comment=Netzwerksimulator für den Informatikunterricht
Exec=/home/xealom/.local/bin/filius
Categories=Education;Science;
Terminal=false
