[Desktop Entry]
Name=MovieBox-TUI
Comment=Stream movies, shows & live TV in the terminal
Exec=foot -e moviebox-tui
Terminal=true
Type=Application
Categories=AudioVideo;Video;
Keywords=movie;stream;tv;tui;
