[Desktop Entry]
Name=Siffra
GenericName=Taschenrechner
Comment=Schneller, präziser Rechner mit Einheitenanalyse
Exec=/home/xealom/.nix-profile/bin/appimage-run /home/xealom/Applications/Siffra-linux-x86_64.AppImage
Icon=siffra
Type=Application
Categories=Office;Calculator;
Keywords=calc;calculator;rechner;
StartupNotify=true
