layout {

    focus-ring {
        active-color   "#97a6bb"
        inactive-color "#070e15"
        urgent-color   "#857960"
    }

    border {
        active-color   "#97a6bb"
        inactive-color "#070e15"
        urgent-color   "#857960"
    }


    tab-indicator {
        active-color   "#97a6bb"
        inactive-color "#364b6a"
        urgent-color   "#857960"
    }

    insert-hint {
        color "#97a6bb80"
    }
}

recent-windows {
    highlight {
        active-color "#97a6bb"
        urgent-color "#857960"
    }
}
